<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File uploading</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{welcome.msg}">Welcome Offline</p>
<form action="upload" method="post" enctype="multipart/form-data">
    Select File to Upload:<input type="file" name="file" id="file">
    <br>
    <input type="submit" value="Upload">
</form>
</body>
</html>